<h1>Find results:</h1>
<form name="find" method="post">
    <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
    Product code: <input type="text" name="code" id="code" size="20" value="{{ code }}">
    <input type="submit" name="submit" value="Find">
    <br><br>
    {%  if code is not empty %}
        {% if product is empty %}
            No product with such name
        {% else %}
            <textarea rows="5" cols="70">{{ product }}</textarea>
        {% endif %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</form>
